<%= form_for(@message, remote: false) do |f| %>  

  <div class="well">
    
      <p>Новое сообщение<p>
      <%= f.text_area :body, cols: 60, rows: 3%>    

    <div class="form-actions1">
      <%= f.submit :Отправить, :class => 'btn btn-primary' %>
    </div>           

  </div>
  
<% end %>

<% if @msg_list %>   
  <table class="table table-striped">    
    <% @msg_list.each_with_index do |msg, index| %>
    <tr><td>
      <div>  
        <em><p class="text-warning1"><%= User.find_by(id: msg.user_id).get_user_info() %></p></em>
        <p><%= msg.body %>
            <span class="muted"><small><%= msg.created_at.to_s(:ru_datetime)%></small></span>
            <% if session[:user_id] == msg.user_id %>
              <span><%= link_to '', edit_message_path(msg) %> </span>
            <% end %>
        </p>

      </div>
    <% end %>
  </td></tr>
  </table>
<% end %>


<% if Message.count > @msg_list.count %>
  <span>
    <%= button_to 'Показать еще', chat_showmore_path(limit: @msg_list.count + 5 ), :class => "showmore", remote: true %> 
  </span>
<% end %>



