<!--http://media.pragprog.com/titles/rails4/code/rails40/depot_r/app/views/sessions/new.html.erb -->


  <h3> Авторизация </h3>


<div class="azcommunity_form">
	

	<%= form_tag do %>
		<fieldset>

			

			<div>
				<%= label_tag :name, 'Имя:' %>
				<%= text_field_tag :name, params[:name] %>
			</div>

			<div>
				<%= label_tag :password, 'Пароль:' %>
				<%= password_field_tag :password, params[:password] %>
			</div>

			<div>				
				<table><tr>
					<td><%= button_to "Войти", login_url, :class => "btn btn-success" %> </td>
					<td valign="top"><a href=<%= users_new_url%>>&nbsp;&nbsp;Зарегистрироваться</a></td>
				</tr></table>
			</div>
		</fieldset>
	<% end %>
</div>