<% if notice %>
<p id="notice"><%= notice %> </p>
<% end %>

<h1>Форум</h1>

<h4>Уважаемые пользователи, форум нахоодится в разработке, на этот период предлагается пользоваться общим чатом.</h4>

<div class="entry">
	<%= render(@message) %>
</div>

<% if @msg %>
<% @msg.each do |msg| %>
	<div class="entry">		
		<h3><%= User.find_by(id: msg.user_id).get_user_info() %><br></h3>		
		<p><%= msg.body %></p>	
			
		<div class="userinfo">			
			<span><%= msg.created_at.strftime("%d.%m.%Y в %k:%m") %></span>
			<% if session[:user_id] == msg.user_id %>
			  <span><%= link_to '', edit_message_path(msg) %> </span>
			<% end %>
		</div>
	</div>
<% end %>
<% end %>

<!--
<div id="#section1">some stuff</div>
<script type="text/javascript">
document.location.hash="#section1"; 
</script>
-->

<span><%= button_to 'Показать еще', forum_index_path(limit: (params[:limit]||"5").to_i + 5 ), :class => "showmore" %> </span>

<p> </p>