<% if notice %>
<p id="notice"><%= notice %> </p>
<% end %>

<h1>Форум</h1>

<h4>Уважаемые пользователи, форум нахоодится в разработке, на этот период предлагается пользоваться общим чатом.</h4>

<div class="entry">
	<%= render(@message) %>
</div>

<% if @msg %>
<% @msg.each_with_index do |msg, index| %>

	<!--< if index  == (params[:limit]||"5").to_i - 5 %> 
		  <div id="anchor"> </div>
 	< end %> -->

	<div class="entry">		
		<h3><%= User.find_by(id: msg.user_id).get_user_info() %><br></h3>		
		<p><%= msg.body %></p>	
			
		<div class="userinfo">			
			<span><%= msg.created_at.to_s(:ru_datetime)%></span>
			<% if session[:user_id] == msg.user_id %>
			  <span><%= link_to '', edit_message_path(msg) %> </span>
			<% end %>
		</div>		
	</div>
<% end %>
<% end %>


<% if Message.count > (params[:limit]||"5").to_i %>
<span><%= button_to 'Показать еще', forum_index_path(limit: (params[:limit]||"5").to_i + 5 ) + "#anchor", :class => "showmore" %> </span>
<% end %>


<p> </p>
<!--<script type="text/javascript">
 document.location.hash="section1"; 

</script>-->