<%= form_for @user, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>  

  <div class="control-group">
    <%= f.label :Имя, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <% if params[:action] == 'new' %>
  
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :mail, :class => 'text_field', :type => "email"%>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :Пароль, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :Подтверждение, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'text_field'%>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Офис, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :office, options_for_select([["Озерковская Набережная", 1], ["Варшавское Шоссе", 2], 
        ["Санкт-Петербург", 3], ["Краснодарский филиал", 4], ["Воронеж", 5] ]) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Телефон, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>      

  <div class="control-group">    
    <%= f.label :Аватар, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :avatar %>    
    </div>
  </div>  

  <div class="form-actions">
    <%= f.submit (params[:action] == "edit") ? 'Сохранить' : 'Зарегистрироваться', :class => 'btn btn-primary' %>
    <% if params[:action] == 'new' %>
      <%= link_to 'Отмена', login_url, :class => 'btn' %>
    <% end %>
    <% if params[:action] == 'edit' %>
      <%= link_to 'Отмена', user_path(@user.id), :class => 'btn' %>
    <% end %>
  </div>

<% end %>
