<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :Имя, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mail, :class => 'text_field', :type => "email"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Пароль, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Подтверждение, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Офис, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :office, options_for_select([["Озерковская Набережная", 1], ["Варшавское Шоссе", 2]]) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Телефон, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>    

  <div class="form-actions">
    <%= f.submit "Зарегистрироваться", :class => 'btn btn-primary' %>
    <%= link_to "Отмена", login_url, :class => 'btn' %>
  </div>
<% end %>
