<% if @adv %>	
	<p class="muted">Всего объявлений: <%= Advert.where('status=1').count %> </p>

	<table class="table table-striped">

		<% @adv.each do |adv| %>
		<tr> 
			<td width="80px"><%= image_tag(adv.get_image_url, :class=>'fixed_thumb') %> <td> 
			<td>
				<h4><%= link_to adv.title, adv%></h4>
				
				<p><%= sanitize(adv.description)%></p>
				<% if adv.price %>
					<div class="price_line">
						<span class="label label-info"><%= sprintf("%0.02f руб.", adv.price) %></span>
					</div>
				<% end %>			

				<div class="userinfo">
					<% if User.find_by_id(adv.user_id) %>
						<em><small><span><%= User.find(adv.user_id).get_user_info() %></span></small></em>
					<% end %>
				</div>
				<div class="userinfo">			
					<small><span><%= adv.created_at.in_time_zone('Moscow').strftime("%d.%m.%Y в %k:%m") %></span></small>
					<% if session[:user_id] == adv.user_id %>
					  <span><%= link_to 'редактировать', edit_advert_path(adv), :style=>"color:gray" %> </span>
					<% end %>
				</div>
			</td>
		</tr>
		<% end %>
	</table>
<% end %>

<p> </p>

<% if params[:only_my] && (@adv.count == 0) %>


<p> У вас пока нет своих объявлений.</p>
<p> Нажмите "Подать объявление", чтобы добавить объявление. </p>
<br/>
<% end %>	

<% if Advert.where('status=1').count > @adv.count %>
	<% if not params[:only_my] %>
		<span><%= button_to 'Показать еще', adv_list_showmore_path(limit: @adv.count + 5 ), :class => "btn btn-link", remote: true %> </span>
	<% end %>
<% end %>