<% if notice %>
<p id="notice"><%= notice %> </p>
<% end %>


<table width="100%" class="topline">
	<tr>
		<td><h1><%= @header_text %></h1></td>
		<td width="60px"><%= button_to 'Подать объявление', adverts_new_path, :class => "highlight_bt" %></td>		
	</tr>
</table>

<% if @adv %>
<% @adv.each do |adv| %>
	<div class="entry">
		<%= image_tag(adv.get_image_url) %>		
		<h3><%= link_to adv.title, adv, :style=>"color:gray"%></h3>
		<p><%= sanitize(adv.description)%></p>
		<% if adv.price %>
			<div class="price_line">
				<span class="price"><%= sprintf("%0.02f руб.", adv.price) %></span>
			</div>
		<% end %>

		<div class="userinfo">
			<span><%= User.find_by(id: adv.user_id).get_user_info() %></span>						
		</div>
		<div class="userinfo">			
			<span><%= adv.created_at.strftime("%d.%m.%Y в %k:%m") %></span>
			<% if session[:user_id] == adv.user_id %>
			  <span><%= link_to 'редактировать', edit_advert_path(adv), :style=>"color:gray" %> </span>
			<% end %>
		</div>
	</div>
<% end %>
<% end %>

<p> </p>

<% if Advert.count > (params[:limit]||"5").to_i %>
	<% if not params[:only_my] %>
		<span><%= button_to 'Показать еще', adv_list_index_path(limit: (params[:limit]||"5").to_i + 5 ), :class => "showmore" %> </span>
	<% end %>
<% end %>
