<%= form_for @advert, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :Заголовок, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, size: 35 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Описание, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, cols: 35, rows: 10 %>
    </div>
  </div>


  <div class="control-group">    
    <%= f.label :Изображение, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :photo %>    
    </div>
  </div>

  <div class="control-group">          
    <%= f.label :Стоимость, :class => 'control-label' %>
    <div class="controls">
        <%= f.text_field :price, size: 12%> руб.
    </div>
  </div>    

  <% if params[:action] == "edit" %>
    <div class="control-group">
      <%= f.label :Статус, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :status, options_for_select([["Активное", 1], ["Истекшее", 2], ["Закрытое", 3]]) %>  
      </div>
    </div>    
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
    <% if params[:action] == "edit" %>
      <%= link_to 'Просмотр', @advert, :class => 'btn' %>
    <% end %>
    <%= link_to 'Объявления', adv_list_index_path, :class => 'btn' %>
  </div>
<% end %>
