<%= form_for(@advert) do |f| %>
  <% if @advert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advert.errors.count, "error") %> prohibited this advert from being saved:</h2>

      <ul>
      <% @advert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Заголовок %><br>
    <%= f.text_field :title, size: 35 %>
  </div>

  <div class="field">
    <%= f.label :Описание %><br>
    <%= f.text_area :description, cols: 35, rows: 15 %>
  </div>


  <table>
    <tr>
      <td><%= f.label :Изображение %><td>
      <td><%= f.text_field :image_url%><td>
    </tr>

    <tr>
      <td><%= f.label :Стоимость %><td>
      <td><%= f.text_field :price%><td>
    </tr>

    <% if params[:action] == "edit" %>
    <tr>
      <td><%= f.label :Статус %><td>
      <td><%= f.select :status, options_for_select([["Активное", 1], ["Истекшее", 2], ["Закрытое", 3]]) %><td>
    </tr>
    <% end %>

  </table>

  <br>

  

  <div class="actions">
    <%= f.submit @action_name %>
  </div>
<% end %>
