<h1>Объявления сообщества</h1>
<table><tbody>

<% @adverts.each do |advert| %>
  

<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(advert.image_url, class: 'list_image') %>
    </td>
    <td class="list_description">
      <dl>
        <dt><%= advert.title %></dt>
        <dd><%= truncate(strip_tags(advert.description), length: 80) %></dd>
      </dl>
    </td>
    <td class="list_actions">
      <%= link_to 'Show', advert %><br>
      <%= link_to 'Edit', edit_advert_path(advert) %><br>
      <%= link_to 'Destroy', advert, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
</tbody></table>

<br>
<%= link_to 'New advert', new_advert_path %>