<%- model_class = Advert -%>
<div class="page-header">
  <h2><%= @advert.title %></h2>
</div>

<%= image_tag @advert.get_image_url, :class => "img-polaroid" %>

<dl class="dl-horizontal">
  <p>
    <dt><strong>Описание:</strong></dt>
    <dd><%= sanitize(@advert.description.gsub(/\n/, '<br>')) %></dd>    
  </p>


  <%if @advert.price%>
  <p>
    <dt><strong>Цена:</strong></dt>
    <dd><span class="label label-info"><%= sprintf("%0.02f руб.", @advert.price) %></span> </dd>
  </p>
  <% end %>

  <p>
    <dt><strong>Пользователь:</strong></dt>
    <dd><%= User.find_by(id: @advert.user_id).get_user_info() %></dd>
  </p>

  <p>
    <dt><strong>Контактный email:</strong></dt>
    <dd><%= User.find_by(id: @advert.user_id).mail %></dd>
  </p>

  <p>
    <dt><strong>Дата создания:</strong><dt/>
    <dd><%= @advert.created_at.strftime("%d.%m.%Y в %k:%m") %></dd>
  </p>

  <p>
    <dt><strong>Статус объявления:</strong></dt>
    <dd><%= @advert.get_status_name %></dd>
  </p>

</dl>



<div class="form-actions">
  <%= link_to 'Назад', adv_list_index_path, :class => 'btn' %>

  <% if session[:user_id] == @advert.user_id %>
    <%= link_to 'Редактировать', edit_advert_path(@advert), :class => 'btn' %>     
  <% end %>
  
</div>
