<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advert.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advert.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @advert.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @advert.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @advert.user_id %>
</p>

<p>
  <strong>Created:</strong>
  <%= @advert.created %>
</p>

<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
