<%- model_class = Post -%>
<div class="page-header">
  <h1><small>Публикация</small></h1>
</div>


<ul class="breadcrumb">
  <li><%= link_to 'Форум', forum_index_path %> / </li>  
  <li><%= link_to Topic.find(@post.topic_id).name, posts_index_path(:topic => @post.topic_id)%> / </li>  
  <li><%= link_to @post.title, post_path(@post.id) %></li>      
</ul>


<div class="well">

  <span class="muted"><small><%= @post.title %></small></span>
  <table class="table">    
    <tr>  
      <td width="80px">
        <% if @post.user_id && User.find_by_id(@post.user_id) %>          
          <%= image_tag User.find(@post.user_id).ava_url %>
          <%= link_to User.find(@post.user_id).name, user_path(@post.user_id) %>                
          <em><small><span>(<%= User.find(@post.user_id).office_name %>)</span></small></em> 
        <% end %>
        <p><small><span><%= @post.created_at.in_time_zone('Moscow').strftime("%d.%m.%Y в %k:%m") %></span></small></p>
      </td>     
      <td width="10px"></td>
      <td>
        
        <p><%= sanitize( @post.body.gsub(/\n/, '<br>') )%></p>

        <% if (session[:user_id] == @post.user_id) or admin_rights? %>
            <%= link_to 'Редактировать',
              edit_post_path(@post), :class => 'btn btn-mini' %>
            <%= link_to 'Удалить',
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger' %>
        <% end %>

        <% if admin_rights? %>            
            <%= link_to 'Отправить уведомление',
              forum_notify_path(post_id: @post),:class => 'btn btn-mini btn-warning' %>
            <%= link_to 'Разослать уведомления всем',
              forum_notify_path(post_id: @post, user: 'all'),              
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-warning' %>
        <% end %>
        
        
        
      </td>
    </tr>    
    
  </table>


</div>

 <h3><small>Комментарии</small></h3>
        <%= render :partial => 'comments/panel' %>


