<!DOCTYPE html>
<html>
<head>		
  <title>Allianz community</title>
  <%= stylesheet_link_tag    "application", media: "all", 
  	"data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", 
  	"data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<table id="bannertable" width="100%">
		<tr>
			<td>
				<div id="banner">
					<%= image_tag("logo_community.png") %>		
					<%= @page_title || "Сообщество сотрудников Альянс"%>
				</div>
			</td>
			<td width="60px">
				<% if User.find_by(id: session[:user_id]) %>						
					<div> <%= User.find_by(id: session[:user_id]).name %> </div>
					<a href=<%= logout_url%>>Выйти</a>
				<% else %>
					<a href=<%= login_url%>>Войти</a>				
				<% end %>
			</td>			
		</tr>
	</table>
	<div id="columns">
		<div id="side">
			<ul>				
				<br>
				<li><a href=<%= adv_list_index_path%>>Объявления</a></li><br>				
				<li><a href=<%= adv_list_myindex_path%>>Мои объявления</a></li><br>
				<li><a href=<%= forum_index_path%>>Форум</a></li><br>
				<li><a href=<%= adv_list_index_path%>>О&nbsp;сообществе</a></li>
			</ul>
		</div>
		<div id="main">
			<%= yield%>
		</div>
	</div>

	<p> ©2014 All rights reserved</p>	
	<p>	Contact us: allianz.community@gmail.com </p>

</body>

</html>
