<!DOCTYPE html>
<html>
<head>		
  <title>Allianz community</title>
  <%= stylesheet_link_tag    "application", media: "all", 
  	"data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", 
  	"data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<table id="bannertable" width="100%">
		<tr>
			<td>
				<div id="banner">
					<%= image_tag("logo_community.png") %>		
					<%= @page_title || "Сообщество сотрудников Альянс"%>
				</div>
			</td>
			<td width="60px">
				<% if User.find_by(id: session[:user_id]) %>						
					<font> <%= User.find_by(id: session[:user_id]).name %> </font>
					<a href=<%= logout_url%>><font>Выйти</font></a>
				<% else %>
					<a href=<%= login_url%>><font>Войти</font></a>				
				<% end %>
			</td>			
		</tr>
	</table>
	<div id="columns" height="900px">
		<div id="side">
			<ul>								
				<li><a href=<%= adv_list_index_path%>>Все объявления</a></li>
				<li><a href=<%= adv_list_myindex_path%>>Мои объявления</a></li>
				<li><a href=<%= forum_index_path%>>Форум</a></li>				
			</ul>


			<ul>
				<li><a href=<%= adv_list_info_path%>>О&nbsp;сообществе</a></li>
				<li><a href=<%= adv_list_invite_path%>>Приглашения</a></li>
			</ul>
		</div>
		<div id="main">
			<%= yield%>
		</div>
	</div>

	

</body>


<p> ©2014 All rights reserved</p>	
<p>	Contact us: allianz.community@gmail.com </p>

</html>
